<h1>Listing questions</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Description</th>
    <th>Choice1</th>
    <th>Choice2</th>
    <th>Choice3</th>
    <th>Choice4</th>
    <th>Answer</th>
    <th>Explanation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.number %></td>
    <td><%= question.title %></td>
    <td><%= question.description %></td>
    <td><%= question.choice1 %></td>
    <td><%= question.choice2 %></td>
    <td><%= question.choice3 %></td>
    <td><%= question.choice4 %></td>
    <td><%= question.answer %></td>
    <td><%= question.explanation %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
