<div id="wrapper">
    <div id="header"> 
        <ul>
        <li>
        <img src="/assets/logo.gif" />
        </li>
        <li >
		<span class="description">&nbsp sample sap mle sample copy</span>
        </li>
        </ul>
        <div id="postQ">
        <a href="#"><img src="/assets/post.gif" /></a>
        </div>
    </div>
    <div id="question">
        <ul>
        <li class="qno">
        Q<%= @question.number %>
        </li>
        <li class="qtitle">
        <%= @question.title %>
        </li>
        </ul>
        <br />
        <br />
        <div id="qtext">
        <%= @question.description %>
        </div>
        <div id="answers">
            <div class="answer box">
             <p><%= @question.choice1 %></p>
            </div>
            <div class="answer box">
              <p><%= @question.choice2 %></p>
            </div>
            <div class="answer box">
              <p><%= @question.choice3 %></p>
            </div>
            <div class="answer box">
              <p><%= @question.choice4 %></p>
            </div>          
        </div>
    </div>
    <div id="result" class="resultbox box">
            <div>
            <ul>
            <li>
            <p class="resulttitle">
            ◯   Correct!
            </p>
            </li>
            <li>
            </li>
            </ul>
            </div>
    </div>
    <div id="explain">
            <div id="exptext">
              <%= @question.explanation %>
            </div>
        </div>
    <div id="nextq">
    <a href="#"><img src="/assets/next.gif" alt="次の問題へ" /></a>
    </div>
</div>
