<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @question.number %>
</p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Description:</b>
  <%= @question.description %>
</p>

<p>
  <b>Choice1:</b>
  <%= @question.choice1 %>
</p>

<p>
  <b>Choice2:</b>
  <%= @question.choice2 %>
</p>

<p>
  <b>Choice3:</b>
  <%= @question.choice3 %>
</p>

<p>
  <b>Choice4:</b>
  <%= @question.choice4 %>
</p>

<p>
  <b>Answer:</b>
  <%= @question.answer %>
</p>

<p>
  <b>Explanation:</b>
  <%= @question.explanation %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
