<div id="wrapper">
    <div id="header"> 
        <ul>
        <li>
        <img src="/assets/logo.gif" />
        </li>
        <li>
		<span class="description">&nbsp <img src="/assets/info.gif" /></span>
        </li>
        </ul>
        <div id="postQ">
        <%= link_to image_tag("/assets/post.gif"), new_question_path %>
        </div>
    </div>
    <div id="question">
        <ul>
        <li class="qno">
        Q<%= @question.number %>
        </li>
        <li class="qtitle">
        <%= @question.title %>
        </li>
        </ul>
        <br />
        <br />
        <%= @question.description %>(<%= @summary.percentage %> %)
        <div id="answers">
            <div class="answer box">
              <p>A. <%= link_to @question.choice1, { :controller => "questions", :action => "answer", :id => @question[:id], :answer => 1 }, :method => :post, :remote => true, :name => "answer" %></p>
            </div>
            <div class="answer box">
              <p>B. <%= link_to @question.choice2, { :controller => "questions", :action => "answer", :id => @question[:id], :answer => 2 }, :method => :post, :remote => true, :name => "answer" %></p>
            </div>
            <div class="answer box">
              <p>C. <%= link_to @question.choice3, { :controller => "questions", :action => "answer", :id => @question[:id], :answer => 3 }, :method => :post, :remote => true, :name => "answer" %></p>
            </div>
            <div class="answer box">
              <p>D. <%= link_to @question.choice4, { :controller => "questions", :action => "answer", :id => @question[:id], :answer => 4 }, :method => :post, :remote => true, :name => "answer" %></p>
            </div>          
        </div>
        </div>
    <div id="explain">
        <div id="correct" class="result">
            <img src="/assets/correct.gif" />
        </div>
        <div id="wrong" class="result">
            <img src="/assets/wrong.gif" />
        </div>    
          <div id="explaintext">
            <div id="exptext">
              <%= @question.explanation %>
            </div>
        <div id="nextq">
        <%= link_to image_tag("/assets/next.gif", :alt => "次の問題へ"), question_path(@next_question) %>
        </div>
</div>
</div>
</div>
