<div id="wrapper">
    <div id="header"> 
        <ul>
        <li>
        <img src="/assets/logo.gif" />
        </li>
        <li>
		<span class="description">&nbsp <img src="assets/info.gif" /></span>
        </li>
        </ul>
        <div id="postQ">
        <a href="#"><img src="/assets/post.gif" /></a>
        </div>
    </div>
    <div id="question">
        <ul>
        <li class="qno">
        Q<%= @question.number %>
        </li>
        <li class="qtitle">
        <%= @question.title %>
        </li>
        </ul>
        <br />
        <br />
        <div id="qtext">
        <%= @question.description %>
        </div>
        <div id="answers">
            <div class="answer box">
              <p>A. <%= @question.choice1 %></p>
            </div>
            <div class="answer box">
              <p>B. <%= @question.choice2 %></p>
            </div>
            <div class="answer box">
              <p>C. <%= @question.choice3 %></p>
            </div>
            <div class="answer box">
              <p>D. <%= @question.choice4 %></p>
            </div>          
        </div>
    </div>
    <div id="explain">
        <div id="correct" class="result">
            <img src="/assets/correct.gif" />
        </div>
        <div id="wrong" class="result">
            <img src="/assets/wrong.gif" />
        </div>    
          <div id="explaintext">
            <div id="exptext">
              <%= @question.explanation %>
            </div>
        <div id="nextq">
        <a href="#"><img src="/assets/next.gif" alt="次の問題へ" /></a>
        </div>
    </div>
</div>
</div>
